*
{
 padding: 0px;
 margin: 0px;
}


body
{
 background-color:Yellow;
 color:black;
 font-size:1.0em;
 font-family:Comic Sans MS, Arial;
 border:0px Solid darkblue;
 padding:1.5em;
 margin:0px;
}

div#container
{
 background-color:white; 
 width:830px;
 margin:0px auto;
 border-radius:25px;
 
}

div#banner
{
 background-image:url("../images/jumbo.jpg");
 background-repeat:no-repeat;
 background-color:red;
 height:200px;
 border-radius:25px;
 border-top:15px solid white;
 border-left: 15px solid white;
 border-right: 15px solid white;
}

div#footer
{
 background-color:red;
 text-align:Left;
 border:3px solid white;
 border-radius:15px;
 
}

div#content
{
 min-height:250px;
 border:25px Solid white;
 text-align:Left;
 position: relative;
}

div#link
{
 border:5px Solid red;
 position: absolute;
 left:-130px;
 background-color: red;
 border-radius: 15px;
 padding: 0.5em;
}

div#link ul
{
 list-style-type:none; 
}

a
{
 color: White;
 text-decoration: none;
}

table.simple
{
 border-collapse:colepse;
 margin: 0px auto;
}

table.simple th, td
{
 border:1px solid red;
 text-align:center;
 padding: 0,3em;
 background-color:white;
 color:red;
 margin:0px auto;
}

table.simple caption
{
 background-color: red;
}


	